	
<h1 >{{ 'HOME.GREETING' | translate }}</h1>
<h1 i18n> SIMPLE TEXT</h1>
<h2 > {{ 'HOME.WELCOME' | translate }}</h2>
<h2 i18n> WELCOME </h2>
{{ today | date:'medium'  }} 

<p i18n>
  {usersCount, plural, =0 {no users} =1 {one user} few {{{usersCount}} users} other {{{usersCount}} users}}
</p>
<button type='button' (click)='usersCount=usersCount+1'>+</button>
<button type='button' (click)='usersCount=usersCount-1'>-</button>
<input i18n-placeholder placeholder="English placeholder">

<div>
  <h2>{{ 'HOME.TITLE' | translate }}</h2>
  <label>
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label>
</div>